#=======================================================================
#** Generic gitignore file  **
#=======================================================================
#** General assertions
#=======================================================
#*  Local OS files and directories
#=======================================
#  Temporary files
*~
~$*
~*.tmp
*.lock
*.swap

#  Windows system files
desktop.ini
Thumbs.db

#  MacOS system files
__MACOSX/
.DS_Store
._.DS_Store
.Spotlight*
.Trashes
._.Trashes
.desktop*

#=======================================
#* Others Version control systems
#=======================================
.svn/

#=======================================
#* Generic directory cases
#=======================================
#  Temporary files container directories
/log/*
/tmp/*

#=======================================
#* Generic extension cases
#=======================================
#  Binaries
*.class
*.pyc
*.pyo

#  Archives
*.zip
*.7z
*.rar
*.tar.gz




#=======================================================
#** Project specific assertions
#=======================================================
#*  IDE specific - Eclipse
#=======================================
.settings/
/.project
/.classpath
/reports
/pmd-*

#=======================================
#*  IDE specific - TrueSTUDIO
#=======================================
*/.cproject
*/.project
/.cproject
/.projet
*.elf.launch
*.elf
*.o
*/Debug/*
*.map

#=======================================
#*  IDE specific - Visual Studio
#=======================================
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/*
obj/*
[Bb]in/*
[Dd]ebug/*
[Rr]elease/*
Ankh.NoLoad

#=======================================
#*  individual cases
#=======================================
/_devis
/rsc




#=======================================================
#** Special assertions
#=======================================================
#*  Forced inclusion cases
#=======================================
!inc/
!inc/*
!*.inc
!*.inc.*

#=======================================
#*  Forced exclusion cases
#=======================================
exc/
*.exc
*.exc.*
/bin/
/Debug
